In [35]:
# Import dotenv package for setting environment variables 
from dotenv import load_dotenv

# Import os package
import os
import requests
import pandas as pd


# Set environment variables from the .env in the local environment
env_file = ("C:\\Users/jan/Desktop/FinTech/API/c.env")
if load_dotenv(env_file):
    print(f"The .env file at {env_file} was successfully loaded.")
else:
    print(f"Failed to load the .env file from {env_file}. Please check the file path.")

# Example of using an environment variable (replace 'YOUR_VARIABLE' with your actual variable name)
# var = os.getenv('YOUR_VARIABLE')
# print(var)

The .env file at C:\Users/jan/Desktop/FinTech/API/c.env was successfully loaded.

In [31]:
request_url = "https://data.nasdaq.com/api/v3/datasets/WIKI/MSFT.json?api_key=cHoiq2ddFNqzsoZ_4kYE"

In [32]:
response_data = requests.get(request_url)

In [36]:
    df = pd.DataFrame(response_data)
    display(df)  # In Jupyter, use display to render the DataFrame

                                                      0
0     b'{"dataset":{"id":9775827,"dataset_code":"MSF...
1     b'lits and Trading Volume","description":"End ...
2     b'djusted open, high, low close and volume for...
3     b'atio is 1 on non-split dates. Adjusted price...
4     b'nThis data is in the public domain. You may ...
...                                                 ...
8338  b'0.064719979622,0.065297836582911,47894400.0]...
8339  b'48375,0.065875693543822,0.066453550504732,67...
8340  b'8764978348375,0.067031407465643,0.0681871213...
8341  b'2,0.068187121387465,0.064719979622,0.0670314...
8342  b'10012893,0.067609264426554,0.058941410012893...

[8343 rows x 1 columns]